<head> 
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
    <meta name="viewport" content="width=7168, height=3072, initial-scale=1">
</head>
<body> 

<script>
var ws = new WebSocket("ws://localhost:9192") 

$(document.body).on('keydown', function(e) {
    
        sendkey(e.which) 

});

function sendkey(key) { 
    var k = {}
    k["Code"] = key
    ws.send(JSON.stringify(k))
} 

ws.onmessage = function(event) {
    console.log("Message from server:", event.data);
}
</script>



<h1> Controller interface for wallbrowser </h1> 

</body> 
